body {
	margin: 0;
	padding: 0;
	background-color:#0B2161;
}
.fondo {background-image: url("escudo.jpg");
background-repeat: no-repeat;
background-color: white;
}
 

/* Imports
--------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);



/* Helper Classes
--------------------------------------------- */

.clearfix {
	display: block;
	clear: both;
}


/* Typography
--------------------------------------------- */

body {
	font-size:18px;
	line-height: 32px;
	color: white;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
}

p {
	margin: 0 0 24px;
	margin: 0 0 2.4rem;
	padding: 0;
}
fieldset {
	border: 1px solid #D8D8D8;
	
}


/* Links
--------------------------------------------- */

a {
	text-decoration: none;
	color: #FF5722
}

a:hover {
	text-decoration: underline; 
	color: #E64A19;
}



/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
	font-family: "Roboto Slab", sans-serif;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 16px;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
	color: white;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}



/* Sections
--------------------------------------------- */

#container{
	margin: 0 auto;
	max-width: 1200px;
}



/* Header
--------------------------------------------- */

header {
	width: 94%;
	height: 150px;
	padding: 3%;
	background-color: #2E9AFE;
}

header #title {
	font-size: 50px;
	color: white;
}

.escudo {width:100px;
          height:180px;}
		  
.estadio {width:300px;
          height:200px;}
.grada {width:700px;
          height:300px;}
		  
.derecha {float: right;}
.izquierda {float: left;}
.colorh2 {font-size: 30px;
	color: #0404B4;}


/* Navigation
--------------------------------------------- */

nav {
	width: 97%;
	background-color: white;
	padding: 0 1.5% 0 1.5%;
}

nav ul li {
	display: inline-block;
	padding: 15px 1.5% 15px 1.5% ;
}

nav ul li a {
	text-decoration: none;
	color: #0174DF;
	font-size: 1.2em;
	
}

nav ul li a:hover {
	color: yellow;
	text-decoration: none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 3px solid #0B0B3B;
    text-align: left;
    padding: 8px;
	background-color: #0000FF;
}

td {
    border: 3px solid #0B0B3B;
    text-align: left;
    padding: 8px;
	background-color: #0174DF;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



/* Content
--------------------------------------------- */

#content {
	float: left;
	padding: 3%;
	width: 64%;
}



/* Sidebar
--------------------------------------------- */

aside {
	float: right;
	padding: 3%;
	width: 24%;
	background-color: #0B0B61;
	color: white;
}



/* Footer
--------------------------------------------- */

footer{
	width: 95%;
	padding: 3%;
	color: white;
	text-align: center;
}



/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	header {
		text-align: center;
	}

	nav {
		text-align: center;
	}

	#content {
		width: 94%;
		padding: 3%;	
	}

	#sidebar {
		width: 94%;
		padding: 3%;
		border-top: 3px solid #E64A19;
	}

}
/*
@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
*/